*{
    font-family: "ABChanel PB SemiBold M";
    margin: 0;
}

main {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: white;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #ffffff;
    font-weight: bold;
}

input.quantidade {
    width: 50px;
    padding: 5px;
    text-align: center;
}

button.remover-produto {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #000000;
}

.total-final {
    text-align: right;
    margin-top: 20px;
}

.total-final h3{
    color: #333;
}

#total-final{
    color: #000000;
}

button.remover-produto:hover {
    background-color: #151515;
}

.foto{
    width: 130px;
}

body{
    font-family:Arial, Helvetica, sans-serif
}

nav {
    background-color: #ffffff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    position: relative; /* Necessário para o posicionamento do dropdown */
    margin: 0 15px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    display: block; /* Torna o link clicável em toda a área */
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #484848;
}

/* Estilo do dropdown */
nav ul li .dropdown-content {
    display: none; /* Esconde o submenu inicialmente */
    position: absolute; /* Posiciona o submenu em relação ao item pai */
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(211, 211, 211, 0.2);
    z-index: 1; /* Garante que o submenu fique acima de outros elementos */
    min-width: 160px;
    padding: 0;
}

nav ul li .dropdown-content li {
    margin: 0;
}

nav ul li .dropdown-content li a {
    padding: 10px 15px;
}

nav ul li .dropdown-content li a:hover {
    background-color: #d4d4d4; /* Cor de fundo ao passar o mouse sobre o submenu */
}

/* Exibe o submenu ao passar o mouse sobre o item principal */
nav ul li:hover .dropdown-content {
    display: block;
}

nav li a:before{
    content: '';
    position: absolute;
    height: 3px;
    width: 0%;
    background-color: #000000;
    bottom: 0;
    left: 0;
    transition: all 0.4s ease;
}

nav li a{
    position: relative;
    color: #000000;
    padding: 6px 0;
}

nav li a:hover:before{
    width: 100%;
}

.alec{
    background-color: black;
    padding: 0.2px;
    width: 100;
}

.logo img{
    position: absolute;
    margin-top: 20px;
    margin-left: 1850px;
    width: 20px;
    display: block;
}

.logo1 img{
    position: absolute;
    margin-top: 20px;
    margin-left: 1810px;
    width: 20px;
    display: block;
}